# ========== Unity ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# ========== Visual Studio / Rider ==========
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.unityproj
.vs/
.vscode/
.idea/

# ========== OS ==========
.DS_Store
Thumbs.db
